<div class='content'>
    <h1>Welcome to Tutoring Time at Avatar School</h1>

    <img style="display: block; margin:0 auto; width: 50%;"src="https://cdn.vox-cdn.com/thumbor/mXo5ObKpTbHYi9YslBy6YhfedT4=/95x601:1280x1460/1200x800/filters:focal(538x858:742x1062)/cdn.vox-cdn.com/uploads/chorus_image/image/66699060/mgidarccontentnick.comc008fa9d_d.0.png" >
    <br>
        <h2>Where would you like to start?</h2>
    
        <span class=button><%= link_to "STUDENTS PORTAL", students_path %></span><br><br><br>
        <span class=button><%= link_to "COACHES PORTAL", coaches_path %></span><br><br><br>
        <span class=button><%= link_to "TUTORING SESSION", tutoring_times_path %></span>
    
</div>